@import url('https://fonts.googleapis.com/css2?family=Crete+Round&family=Roboto:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Crete+Round&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap');

html {
  margin: 0;
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
  font-family: Roboto, sans-serif;
  background-color: black;
  background-image: url('./images/occ-background-1.jpeg');
}

.logo {
  position: static;
  width: 150px;
  height: 24px;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: bold;
  display: flex;
  align-items: center;
  text-align: center;
  color: #fff;

  /* Inside Auto Layout */

  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0.01px 0.01px;
}

* { box-sizing: border-box; }

a {
  color: rgb(255, 255, 255);
  flex-wrap: wrap;
}

/* header */
.header {
  background-color: rgb(66, 63, 63);
  box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.1);
  position: fixed;
  width: 100%;
  z-index: 3;
}

.header .logo {
  display: flex;
  float: left;
  font-size: 18px;
  padding: 10px 20px;
  text-decoration: none;
  margin-top: 8px;
}

/* menu */

.header .menu {
  clear: both;
  max-height: 0;
  transition: max-height 0.2s ease-out;
}

/* menu icon */

.header .menu-icon {
  cursor: pointer;
  display: flex;
  float: right;
  padding: 28px 20px;
  position: relative;
  user-select: none;
}

.header .menu-icon .navicon {
  background: rgb(255, 255, 255);
  display: flex;
  height: 2px;
  position: relative;
  transition: background 0.2s ease-out;
  width: 18px;
}

.header .menu-icon .navicon::before,
.header .menu-icon .navicon::after {
  background: rgb(255, 255, 255);
  content: '';
  display: flex;
  height: 100%;
  position: absolute;
  transition: all 0.2s ease-out;
  width: 100%;
}

.header .menu-icon .navicon::before {
  top: 5px;
}

.header .menu-icon .navicon::after {
  top: -5px;
}

/* menu btn */

.header .menu-btn {
  display: none;
}

.header .menu-btn:checked ~ .menu {
  max-height: 240px;
}

.header .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .navicon::before {
  transform: rotate(-45deg);
}

.header .menu-btn:checked ~ .menu-icon .navicon::after {
  transform: rotate(45deg);
}

.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon::before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon::after {
  top: 0;
}

.headline {
  background-image: url(./images/background/Group.png);
  background-repeat: no-repeat;
  background-position: right 0.1px bottom 12px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 120px 24px;
  position: absolute;
  width: 100%;
  height: auto;
  left: 0.01px;
  top: 92px;
  margin-top: 30px;
}

.heading-1 {
  position: static;
  width: 327px;
  height: 124px;
  left: 24px;
  top: 120px;
  font-family: crete Round, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 56px;
  line-height: 64px;
  letter-spacing: 0.37px;
  color: #ff6b00;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 12px 0.001px;
}

.heading-2 {
  position: static;
  width: 100%;
  height: 27px;
  left: 24px;
  top: 256px;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 32px;
  display: flex;
  align-items: center;
  color: #fff5e1;
  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 12px;
}

.content {
  position: static;
  width: 100%;
  height: auto;
  left: 24px;
  top: 295px;
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
  flex: none;
  order: 2;
  flex-grow: 0;
  margin: 12px 0.0001px;
  justify-content: space-between;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: left;
  display: grid;
  padding: 12px;
}

/* Work section */

.Works {
  display: grid;
  flex-direction: column;
  align-items: center;
  padding: 120px 0.001px;
  background: #fdfdfd;
  position: absolute;
  width: 100%;
  height: 3658.4px;
  left: 0.001px;
  top: 682px;
  /* decoration */
  font-family: Crete Round, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  line-height: 52px;
}

hr.works-line {
  display: flex;
  color: black;
  margin: auto;
}

.works-img img {
  display: flex;
  margin: auto;
  width: 86vw;
  padding-top: 30px;
}

.stories-content {
  width: auto;
  height: auto;
  padding-left: 25px;
  padding-right: 15px;
  top: 1px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 12px 0.01px;
  margin: auto;
}

.stories-lang-list {
  /* Auto Layout */

  display: grid;
  grid-column-gap: 20px;
  grid-template-columns: auto auto auto auto;
  padding: 20px;
  margin-top: -15px;
}

.stories-list {
  background-color: rgb(241, 238, 238);
  grid-column-gap: 20px;
  border: 1px solid rgba(0, 0, 0, 0.8);
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 20px;
}

/* button */

.button-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px;
  margin-left: -248px;
  width: auto;
  height: 48px;
  background: #ff6b00;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  line-height: 24px;
  letter-spacing: 00.03em;
  color: white;
}

/* articles */

.articles {
  display: grid;
  grid-template-rows: auto auto auto;
  padding: 10px;
  margin-bottom: 600px;
}

.article-1 {
  background-image: url(./images/background/Placeholder.svg);
  background-repeat: no-repeat;/* background-position: auto cover; */
  background-size: 100%;
  padding: 20px;
  font-size: 30px;
  text-align: center;
  color: #fdfdfd;
}

.heading-article {
  font-family: Crete Round, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  line-height: 44px;
}

.heading-para {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
}

.stories-list-article {
  grid-column-gap: 20px;
  border: 1px solid rgba(0, 0, 0, 0.8);
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 20px;
  background: rgba(255, 255, 255, 0.24);
}

.button-articles {
  margin-top: 20px;
  padding: 20px;
  width: 100%;
  height: 48px;
  background: #ff6b00;
  align-items: center;
  text-align: center;
  letter-spacing: 0.03em;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  line-height: 4px;
  color: #fff;
  top: 12px;
}

/* About-me */

.about-me-section {
  background-image: url('./images/background/illustration-about-me-mobile.svg');
  background-repeat: no-repeat;
  background-position: right 10px bottom 1450px;
  width: 97vw;
  height: 100%;
  background-color: #1c1a19;
  margin-top: 1px;
  background-size: auto, cover;
  background-position-x: right;
  display: flex;
  flex-direction: column;
}

.about-title {
  font-family: Crete Round, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 65px;
  line-height: 88px;
  letter-spacing: 0.37px;
  color: #ff6b00;
  padding: 15px;
  padding-top: 45px;
  margin-top: 4360px;
  text-align: center;
}

.about-para {
  display: block;
  margin: auto;
  width: 358px;
  height: 148px;
  color: #f4f5f7;
  font-size: 16px;
  line-height: 24px;
  font-family: 'Inter', sans-serif;
  margin-bottom: 25px;
}

#get-resume-btn {
  width: 161px;
  height: 48px;
  margin-left: 40px;
  background: #ff6b00;
  border: none;
  padding: 12px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  line-height: 24px;
  color: #fff;
  margin-bottom: 200px;
  cursor: pointer;
}

#get-resume-btn:hover {
  background-color: rgb(44, 11, 163);
}

#get-resume-btn:active {
  background-color: rgb(15, 185, 92);
}

#btn-line {
  margin-left: 25px;
  width: 85vw;
  border-bottom: 1px solid #fff;
  margin-bottom: 50px;
}

.language,
.framework,
.skills {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.language-header,
.framework-header,
.skills-header {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 44px;
  color: #fff;
  margin-bottom: 20px;
}

.language ul,
.framework ul,
.skills ul {
  list-style-type: none;
}

.language ul li,
.framework ul li,
.skills ul li {
  color: #fff;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 43px;
  margin-bottom: 10px;
  float: none;
}

span {
  margin-right: 10px;
}

.skills-header {
  margin-right: 33px;
}

/* Contact Section */

.contact-section {
  width: 97vw;
  height: 95%;
  background: #e5e5e5;
  display: flex;
  flex-direction: column;
  padding-top: 45px;
}

.message-box {
  width: 300px;
  margin: 0 auto;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 40px;
  text-align: center;
  padding-top: 55px;
}

.form-container {
  display: block;
  text-align: center;
  border-bottom: solid 1px #8d8d8f;
}

form {
  display: inline-block;
  display: flex;
  flex-direction: column;
  align-items: center;
}

form #btn-submit {
  width: 131px;
  height: 38px;
  background: #ff6b00;
  margin-top: 10px;
  margin-bottom: 100px;
  border: none;
  color: #fff;
  cursor: pointer;
}

form #btn-submit:hover {
  background-color: crimson;
}

form #btn-submit:active {
  background-color: rgb(12, 110, 56);
}

input[type='text'],
input[type='email'],
textarea {
  width: 90%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: none;
  box-sizing: border-box;
  background-color: #e5e5e5;
  font-family: Inter, sans-serif;
}

textarea {
  background-color: #dbd8d7;
}

input[type='text'],
input[type='email'] {
  border-bottom: solid 2px #dbd8d7;
}

.contact-social {
  background: #e5e5e5;
  padding-top: 30px;
  padding-bottom: 30px;
  color: #fc5a09;
}

.contact-social-ul {
  display: flex;
  justify-content: center;
  list-style-type: none;
}

/* Responsive layout - makes a one column-layout instead of a two-column layout */

@media (max-width: 800px) {
  .flex-item-right .flex-item-left {
    flex: 100%;
  }
}
